<div
  class="
    d-flex
    justify-content-between
    flex-wrap flex-md-nowrap
    align-items-center
    pt-3
    pb-2
    mb-3
    border-bottom
  "
>
  <h1 class="h2">K2Cs Tested</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button
        onclick="exportTableToExcel()"
        type="button"
        class="btn btn-sm btn-outline-secondary"
      >
        Export
      </button>
    </div>
  </div>
</div>
<div class="table-responsive mb-5 pb-5">
  <form action="/api/v1.0/getK2cByDate" method="post">
    <caption>
      From:
    </caption>
    <input type="text" name="start" value="" style="width: 170px" />
    <caption>
      To:
    </caption>
    <input type="text" name="end" value="" style="width: 170px" />
    <button class="btn btn-dark btn-sm">Apply</button>
  </form>
  <table
    class="table table-striped table-sm table-hover align-middle"
    id="table"
  >
    <thead>
      <tr>
        <th>Date Tested</th>
        <th>Serial Number</th>
        <th>Tester</th>
        <th>Result</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <% k2cs.forEach(function(k2c){ %>
      <tr>
        <td style="width: 10%">
          <%= moment(k2c.testedDate).format("DD/MM/YYYY") %>
        </td>
        <td style="width: 10%"><%= k2c.assetId %></td>
        <td style="width: 10%"><%= k2c.tester %></td>
        <td><%= k2c.result %></td>
        <td><%= k2c.comments %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
