<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Search Result</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">
        Export
      </button>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped table-sm" id="table">
    <thead>
      <tr>
        <th>Date Tested</th>
        <th>Serial Number</th>
        <th>MAC Address</th>
        <th>Tester</th>
        <th>Result</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <% search.forEach(function(search){ %>
      <tr>
        <td><%= search.testedDate %></td>
        <td><%= search.assetId %></td>
        <td><%= search.macAddress %></td>
        <td><%= search.tester %></td>
        <td><%= search.result %></td>
        <td><%= search.comments %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
